# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/frontend/VisualPool/dist
/frontend/VisualPool/tmp

# dependencies
/frontend/VisualPool/node_modules
/frontend/VisualPool/bower_components

# misc
/frontend/VisualPool/.sass-cache
/frontend/VisualPool/connect.lock
/frontend/VisualPool/coverage/*
/frontend/VisualPool/libpeerconnection.log
/frontend/VisualPool/npm-debug.log*
/frontend/VisualPool/testem.log

#
/backend/project/target/config-classes/*
/backend/target/*

.DS_Store
