<div class="container">
  <div class="page-header">
    <h1>Contact the Authors</h1>
  </div>
  <div class="row" style="margin-right: 15px; margin-left: 15px;">
    <div class="col-md-4 m-b-lg" >
      <div class="panel panel-default panel-profile m-b-0" style="margin-right: 15px; margin-left: 15px;">
        <div class="panel-heading" style="height: 150px"></div>
        <div class="panel-body text-center">
          <img class="panel-profile-img"
               src="/assets/images/Aldo_Lipani.jpg">
          <h5 class="panel-title">Aldo Lipani</h5>
          <p class="m-b">TU Wien</p>
          <a href="http://aldolipani.com">http://aldolipani.com</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 m-b-lg">
      <div class="panel panel-default panel-profile m-b-0" style="margin-right: 15px; margin-left: 15px;">
        <div class="panel-heading" style="height: 150px"></div>
        <div class="panel-body text-center">
          <img class="panel-profile-img"
               src="/assets/images/Mihai_Lupu.jpg">
          <h5 class="panel-title">Mihai Lupu</h5>
          <p class="m-b">TU Wien</p>
          <a href="http://mihailupu.net">http://mihailupu.net</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 m-b-lg">
      <div class="panel panel-default panel-profile m-b-0" style="margin-right: 15px; margin-left: 15px;">
        <div class="panel-heading" style="height: 150px"></div>
        <div class="panel-body text-center">
          <img class="panel-profile-img"
               src="/assets/images/Allan_Hanbury.jpg">
          <h5 class="panel-title">Allan Hanbury</h5>
          <p class="m-b">TU Wien</p>
          <a href="http://allan.hanbury.eu">http://allan.hanbury.eu</a>
        </div>
      </div>
    </div>
  </div>
</div>