<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Contact the Author</h2>
    <p>
    <p>Aldo Lipani</p>
    <a href="http://aldolipani.com">http://aldolipani.com</a><br>
    <a href="mailto:aldolipani@aldolipani.com">aldolipani@aldolipani.com</a>
    </p>
</div>