<button type="button" class="btn btn-default pull-right" style="margin-bottom:4px;white-space: normal;" {{action "changeView"}}>
  {{#if normalView}}
    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
  {{else if uniqueView}}
    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
  {{else if poolView}}
    <span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span>
  {{/if}}
</button>