<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
  <a href="#" class="btn btn-default" role="button" {{action "download"}}>
    <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save QRels
  </a>
</div>
