<div class="col-md-4">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon-strategy">Strategy</span>
    <select onchange={{action "selectPoolStrategy" value="target.value"}} class="form-control" aria-describedby="basic-addon-strategy">
      {{#each poolStrategies as |strategy|}}
        <option>{{strategy.name}}</option>
      {{/each}}
    </select>
  </div>
</div>
<div class="col-md-8">
{{#each parameters as |parameter|}}
<div class="col-md-3">
    <div class="input-group">
    <span class="input-group-addon">{{parameter.name}}</span>
    {{input class="form-control" value=parameter.value}}
    </div>
</div>
{{/each}}
</div>