<div class="panel panel-default">
  <div class="panel-body" style="height:calc(100vh - 200px);max-height:calc(100vh - 200px);overflow-y:scroll;">
    <div class="table-responsive">
      <div class="bodycontainer scrollable">
        <table class="table table-hover table-striped table-condensed">
          <tbody>
          {{#each reverse as |pooledDocument|}}
            <tr class="{{poolstrategy-log-rel pooledDocument.rel}}">
              <td>{{pooledDocument.topic}}:{{pooledDocument.document}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>