<div class="input-group pull-right">
  <span class="input-group-addon" id="basic-addon-topic">Topic</span>
  <select onchange={{action "selectTopic" value="target.value"}} class="form-control" aria-describedby="basic-addon-topic"
          disabled="{{if noTopics "disabled"}}">
    {{#each topics as |topic|}}
      <option>{{topic.id}}</option>
    {{else}}
      <option>Null</option>
    {{/each}}
  </select>
</div>