<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
  <label class="btn btn-default btn-file">
    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Load QRels  <input multiple="true" onchange={{action "upload"}} type="file" style="display: none;"/>
  </label>
</div>
