<div class="form-horizontal">
  <div class="form-group">
      <label class="btn btn-default btn-file">
        Upload QRels  <input multiple="true" onchange={{action "upload"}} type="file" style="display: none;"/>
      </label>
  </div>
</div>